.logo {
  display: flex;
  height: 250px;
  justify-content: center;
  padding-top: 20px;

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &__name {
    color: white;
    font-size: 2rem;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.1s 0.1s, font-size 0.3s;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: rgba($color: #4e4e4eb9, $alpha: 0.6);
    }

    &[name-size='1'] {
      font-size: calc(4rem * (1 / 10));
    }
    &[name-size='2'] {
      font-size: calc(4rem * (2 / 10));
    }
    &[name-size='3'] {
      font-size: calc(4rem * (3 / 10));
    }
    &[name-size='4'] {
      font-size: calc(4rem * (4 / 10));
    }
    &[name-size='5'] {
      font-size: calc(4rem * (5 / 10));
    }
    &[name-size='6'] {
      font-size: calc(4rem * (6 / 10));
    }
    &[name-size='7'] {
      font-size: calc(4rem * (7 / 10));
    }
    &[name-size='8'] {
      font-size: calc(4rem * (8 / 10));
    }
    &[name-size='9'] {
      font-size: calc(4rem * (9 / 10));
    }
    &[name-size='10'] {
      font-size: calc(4rem * (10 / 10));
    }
  }
}
