.logo {
  display: flex;
  height: 250px;
  justify-content: center;
  padding-top: 20px;

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &__name {
    color: white;
    font-size: 2rem;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.1s 0.1s;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: rgba($color: #4e4e4eb9, $alpha: 0.6);
    }

    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }
}
