<div class="container">
  <app-employee-list
    [employees]="employees"
    [selectedEmployee]="selectedEmployee"
    (employeeChange)="employeeChange($event)"></app-employee-list>
  <app-employee-view
    [employee]="selectedEmployee"
    [(employeePopularity)]="employeePopularity"
    (employeePopularityChange)="employeePopularityChange($event)"
    (click)="employeeViewClick()"></app-employee-view>
  <div class="gray-background"></div>
  <div class="menu-button" (click)="toggleSideBar()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512">
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke-width="32"
        d="M80 160h352M80 256h352M80 352h352" />
    </svg>
  </div>
</div>
